$heading-font: 'Raleway', sans-serif;
$paragraph-font: 'Cabin', sans-serif;

$h1-size: 40px;
$h2-size: 32px;
$h3-size: 24px;
$h4-size: 18px;

$p1-size: 16px;
$p2-size: 14px;
$p3-size: 12px;

$label1-size: 20px;
$label2-size: 16px;
$label3-size: 14px;
$label4-size: 12px;

$heading-lineHeight: 125%;
$paragraph-lineHeight: 150%;
$label-lineHeight: 125%;
